<!DOCTYPE html>
<html lang="en-US">
	<!-- 
		Hey if you're looking at the page source maybe you would like to 
		see the git repo: https://github.com/gnozell/Yar-Ha-Har/

		This is my entry to the Riot Games API Challenge 2. Yar Ha Har! is 
		a website designed to show off summoners choices when playing the 
		Black Market Brawlers game mode. 

		More information about what Black Market Brawlers game mode was like
		can be found here: http://leagueoflegends.wikia.com/wiki/Black_Market_Brawlers
		
		Video and Art Assets from Riot Games

		BOYCOTT_ font from: http://www.1001freefonts.com/boycott.font
		Open Sans font from: http://www.opensans.com/
	-->
	<head>
		<meta charset="UTF-8">
    	<link rel='stylesheet' href='{{url_for('static', filename='css/style.css')}}'>
    	<link rel="icon" type="image/ico" href="{{url_for('static', filename='img/favicon.ico')}}">
    	<title>Yar Ha Har!</title>
    	<meta name="author" content="Griffin Nozell">
    	<meta name="keywords" content="League of Legends,API,League,of,Legends,LoL,Riot,Challenge,YarHaHar">
    	<meta name="description" content="A submission to the League of Legends API Challenge 2">
	</head>
	<body>

		<div class="fullscreen-bg">
			<img src="{{url_for('static', filename='img/quinn_garen_aatrox_videoframe.jpg')}}" class="fullscreen-bg__img" alt="quin_garen_aatrox_background">
		</div>
		
		<div class='mainarea'>
		<header>
			WANTED DEAD OR ALIVE
    	</header>
		
		<nav>
			 <a href="{{ url_for('index_page') }}">Most Wanted</a> |
			 <a href="{{ url_for('champion_info_page') }}">Champion Information</a> |
			 <a href="{{ url_for('brawlers_page') }}">Brawlers</a> |
			 <a href="{{ url_for('black_market_page') }}" class='selected'>Black Market</a> |
			 <a href="{{ url_for('about_page') }}">About</a>
		</nav>
		
		<div class="divider">
			<img src="{{url_for('static', filename='img/bilgewater_event/brochure-section-divider.png')}}" alt='Bilgewater Icon'>
		</div>
		
		<div class='textarea'>
			<h1>Psst.. Hey you! Wants some items?</h1>
			<p>Black Market Brawlers introduced tons of new items, many of which provided unique attributes previously not found in the game.</p>
			<p>Stats are derived from the matchIDs provided by Riot Games for the League of Legends API Challenge 2. These are the items that champions possessed along with the associated item’s win rates when their games ended.</p>
			<table class='blacktable'>
				<tr><th>Item</th><th>Icon</th><th>Buy Rate</th><th>Win Rate</th></tr>
				
				{% for item in items %}
					<tr><td>{{item[1]}}</td><td><img src='{{url_for("static", filename="img/item/" + item[0] +".png")}}' alt='Boot Icon'></td><td>{{item[2]}} %</td><td>{{item[3]}} %</td></tr>
				{% else %}
					<tr><td>Error</td><td><img src='{{url_for("static", filename="img/item/1002.png")}}' alt='Boot Icon'></td><td>Buy Rate</td><td>Win Rate</td></tr>
				{% endfor %}
			</table>

			<h1>Or maybe just the regular items?</h1>

			<table class='blacktable'>
				<tr><th>Item</th><th>Icon</th><th>Buy Rate</th><th>Win Rate</th></tr>
				
				{% for aitem in all_items %}
					<tr><td>{{aitem[1]}}</td><td><img src='{{url_for("static", filename="img/item/" + aitem[0] +".png")}}' alt='Boot Icon'></td><td>{{aitem[2]}} %</td><td>{{aitem[3]}} %</td></tr>
				{% else %}
					<tr><td>Error</td><td><img src='{{url_for("static", filename="img/item/1002.png")}}' alt='Boot Icon'></td><td>Buy Rate</td><td>Win Rate</td></tr>
				{% endfor %}
			</table>
			

		</div>
		
		<footer> 
    		<br>Yar Ha Har! isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends.
    		<br> League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
    	</footer>
		</div>
	</body>
</html>